.filter-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
  .filter {
    display: flex;
    flex-direction: row;
  }

  .filter-chips {
    background: pink;
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
  }
}
