.CategoryCard {
  height: 100%;
  width: 100%;

  //   background: pink;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;

  .card-polygon {
    position: relative;
    background: white;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 7px;

    .card-picture {
      position: absolute;
      background: red;
      --picture-dim: 150px;
      height: var(--picture-dim);
      width: var(--picture-dim);

      border-radius: 7px;
      overflow: hidden;

      top: -57px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .card-footer {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
